<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="alert alert-info" role="alert">
                Calculator
            </div>
        </div>
        <form method="get" action="/calculator">
            <div class="col-sm-4 mb-4 mx-auto offset-4">
                <input type="text" name="x" class="form-control" placeholder="x" aria-label="x">
            </div>
            <div class="col-sm-4 mx-auto offset-4">
                <input type="text" name="y" class="form-control" placeholder="y" aria-label="y">
            </div>
            <div class="mb-4 col-4 offset-4">
                <label for="" class="form-label"></label>
                <select name="op" id="op" class="form-select form select-lg">
                    <option selected value="+">+</option>
                    <option value="-">-</option>
                    <option value="x">X</option>
                    <option value=":">:</option>

                </select>
            </div>
            <button type="submit" class="btn btn-primary col-2 offset-6 mb-4">Caculate</button>
            <div class="alert alert-success col-2 offset-6 text-center " role="alert">
            </div>
        </form>
    </div>
    <script>

    </script>
</div>